body{
	font-family: Calibri;
}

#csv{
	margin-left:20px;
}
#json{
	margin-left:20px;
}

#submit-csv{	
	padding: 10px 30px;
	width: 30%;
	margin-bottom: 10px;

}

#submit-json{
	
	padding: 10px 30px;
	width: 30%;
	margin-bottom: 10px;
}




table{
	border-radius: 4px;
	border: 2px solid #e8e8e8;
	color: #4b535d;
	margin-top:	20px;
}

td{
	padding: 15px 15px 15px 15px;
	/*background-color: #d9dadc;*/
	border-bottom: 1px solid #c7c9cb;
	text-align: center;
}


 td h1{
 	text-align: center;
 	
 	color: grey;
 	
 }



